






h1{
    font-size: 20px;
    color:Black;
    padding: 15px;
    text-align: center;
}

h2{
    font-size: 54px;
    color:Black;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
}






.Carousel-caption h5{
    font-size:80px;
    color: black
    text-shadow: 2px 2px 2px black;
    }


 